{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeInLeft">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2 class="h2">{% if ServicioCreate %}Datos del nuevo servicio{% else %}Modificar datos del servicio{% endif %}</h2>
                        <form method="post" class="form-sample">
                            {% csrf_token %}
                            <p class="card-description">
                                {% if ServicioCreate %}A continuación ingrese los datos del nuevo servicio. {% endif %}Considere que los campos marcados con (*) son
                                de caracter obligatorio para el sistema.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Código*</label>
                                        <div class="col-sm-9">
                                            {{form.codigo}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Nombre*</label>
                                        <div class="col-sm-9">
                                            {{form.nombre}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.codigo.errors or form.nombre.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.codigo.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.nombre.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Descripción</label>
                                        <div class="col-sm-9">
                                            {{form.descripcion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Precio*</label>
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend bg-primary border-primary">
                                                        <span class="input-group-text bg-transparent text-white">$</span>
                                                    </div>
                                                    {{form.precio}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.descripcion.errors or form.precio.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.descripcion.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.precio.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row justify-content-end">
                                {% if ServicioUpdate %}
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-fw">
                                        <i class="mdi mdi-reply"></i> Volver</a>
                                <div class="col-md-2">
                                {% endif %}
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-check"></i> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>
<!-- main-panel ends -->

{% endblock %}
