<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema Peluqueria</title>
</head>
<body>

<label for="confirm">¿Seguro que desea borrar el servicio  <b>{{ servicio.nombre }}</b>?</label><br>

<br><br>
<a href="{{ request.META.HTTP_REFERER }}">No, Volver</a>
<form method="post">{% csrf_token %}
    <button type="submit">Si, Eliminar</button>
</form>

</body>
</html>