{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Peluqueria{% endblock %} | LOKIS</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

    <!--Datatable CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>


    {% block extrastatic %}
    {% endblock %}
</head>

<body>
{% block body_sistema %}
<div class="container-scroller">
    {% include 'base/navbar.html' %}

    <div class="container-fluid page-body-wrapper">
        {% include 'base/sidebar.html' %}
        {% block content %} {% endblock %}
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% endblock %}
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<!-- End custom js for this page-->

<!--Datatable JS-->
<script type="text/javascript" src="{% static 'js/custom_datatable.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>

{% block staticfiles_javascript %} {% endblock %}
</body>

</html>