{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeInLeft">

            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2 class="h2 text-center"><i class="mdi mdi-message-alert text-danger icon-md"></i> Confirmación de acción</h2>
                        <form method="post" class="form-sample">
                            {% csrf_token %}
                            <!-- <p class="card-description">
                                A continuación ingrese los datos del nuevo usuario. Considere que los campos marcados con (*) son
                                de caracter obligatorio para el sistema.
                            </p> -->
                            <div class="row mt-3 mb-4 justify-content-center">
                                <h5>¿Está usted seguro que desea eliminar {{ tipo }} "{{ objeto.get_name }}"? </h5>
                            </div>
                            <div class="row mt-3 mb-4 justify-content-center">
                                <p>Los elementos eliminados del listado no se pueden recuperar.</p>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-md-2">
                                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger btn-fw" >
                                        <i class="mdi mdi-check"></i> No, volver.</a>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success btn-fw" >
                                        <i class="mdi mdi-check"></i> Si, eliminar.</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
{% endblock %}
