{% load staticfiles %}
<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas pb-5" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <a href="{% url 'crear_turno' %}" class="btn btn-success btn-block">Nuevo turno
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>
        </li>
        <li class="nav-item {% if Index %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="menu-icon mdi mdi-sticker"></i>
                <span class="menu-title">Resumen del día</span>
            </a>
        </li>
        {% if user.is_admin %}
        <li class="nav-item {% if UsuariosList or UsuarioCreate or UsuarioUpdate or UsuarioDelete%}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-users" aria-expanded="false" aria-controls="ui-users">
                <i class="menu-icon mdi mdi-code-tags"></i>
                <span class="menu-title">Cuentas de usuario</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if UsuariosList or UsuarioCreate or UsuarioUpdate or UsuarioDelete %}show{% endif %}" id="ui-users">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if UsuarioCreate %}active{% endif %}" href="{% url 'crear_user' %}">Nueva cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if UsuariosList %}active{% endif %}" href="{% url 'listado_usuarios' %}">Listar / modificar</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
        <li class="nav-item {% if ServicioList or ServicioCreate or ServicioDelete %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-servicios" aria-expanded="false" aria-controls="ui-servicios">
                <i class="menu-icon mdi mdi-star"></i>
                <span class="menu-title">Servicios</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if ServicioList or ServicioCreate or ServicioDelete %}show{% endif %}" id="ui-servicios">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if ServicioCreate %}active{% endif %}" href="{% url 'crear_servicio' %}">Nuevo Servicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if ServicioList %}active{% endif %}" href="{% url 'listado_servicios' %}">Listar / modificar</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item {% if ClienteList or ClienteCreate or ClienteDelete %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-account-star"></i>
                <span class="menu-title">Clientes</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if ClienteList or ClienteCreate or ClienteDelete %}show{% endif %}" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if ClienteCreate %}active{% endif %}" href="{% url 'crear_cliente' %}">Nuevo Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if ClienteList %}active{% endif %}" href="{% url 'listado_clientes' %}">Listar / modificar</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item {% if ProductoList or ProductoCreate or ProductoDelete %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-productos" aria-expanded="false" aria-controls="ui-productos">
                <i class="menu-icon mdi mdi-cube"></i>
                <span class="menu-title">Productos</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if ProductoList or ProductoCreate or ProductoDelete %}show{% endif %}" id="ui-productos">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if ProductoCreate %}active{% endif %}" href="{% url 'crear_producto' %}">Nuevo Producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if ProductoList %}active{% endif %}" href="{% url 'listado_productos' %}">Listar / modificar</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item {% if ProfesionalList or ProfesionalCreate or PeluqueroDelete %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-peluqueros" aria-expanded="false" aria-controls="ui-peluqueros">
                <i class="menu-icon mdi mdi-human-greeting"></i>
                <span class="menu-title">Peluqueros</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if ProfesionalList or ProfesionalCreate or PeluqueroDelete %}show{% endif %}" id="ui-peluqueros">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if ProfesionalCreate %}active{% endif %}" href="{% url 'crear_profesional' %}">Nuevo peluquero</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if ProfesionalList %}active{% endif %}" href="{% url 'listado_profesionales' %}">Listar / modificar</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item {% if VentaList or VentaCreate or VentaUpdate or VentaDelete %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-ventas" aria-expanded="false" aria-controls="ui-ventas">
                <i class="menu-icon mdi mdi-shopping"></i>
                <span class="menu-title">Ventas</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if VentaList or VentaCreate or VentaUpdate or VentaDelete %}show{% endif %}" id="ui-ventas">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if VentaCreate %}active{% endif %}" href="{% url 'crear_venta' %}">Nueva venta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if VentaList %}active{% endif %}" href="{% url 'listado_ventas' %}">Información de ventas</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item {% if CalendarioTurnosProgra or CalendarioDisponib or CalendarioAvisosCumples %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-calendario" aria-expanded="false" aria-controls="ui-calendario">
                <i class="menu-icon mdi mdi-calendar-plus"></i>
                <span class="menu-title">Calendario</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if CalendarioTurnosProgra or CalendarioDisponib or CalendarioAvisosCumples %}show{% endif %}" id="ui-calendario">
                <ul class="nav flex-column sub-menu">
                    <!--<li class="nav-item">-->
                    <!--<a class=" {% if CalendarioTurnosProgra %}active{% endif %}" href="pages/samples/error-404.html">Ver turnos programados</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link {% if CalendarioDisponib %}active{% endif %}" href="pages/samples/error-404.html">Ver disponibilidad horaria</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link {% if CalendarioAvisosCumples %}active{% endif %}" href="{% url 'avisos_cumpleanios' %}">Avisos de cumpleaños</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item {% if TurnoList or TurnoCreate or TurnosProgramados or TurnoDelete %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-turno" aria-expanded="false" aria-controls="ui-turno">
                <i class="menu-icon mdi mdi-check"></i>
                <span class="menu-title">Turnos</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if TurnoList or TurnoCreate or TurnosProgramados or TurnoDelete %}show{% endif %}" id="ui-turno">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if TurnoCreate %}active{% endif %}" href="{% url 'crear_turno' %}">Nuevo turno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if TurnoList %}active{% endif %}" href="{% url 'listado_turnos' %}">Listado de turnos</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link{% if TurnosProgramados %}active{% endif %}" href="">Ver turnos programados</a>
                    </li> -->
                </ul>
            </div>
        </li>
        {% if user.is_admin %}
        <li class="nav-item {% if ReporteEstadoVentas or FormaPago or ReportePeluqueros or ReporteComoConocieron %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-reportes" aria-expanded="false" aria-controls="ui-reportes">
                <i class="menu-icon mdi mdi-sticker"></i>
                <span class="menu-title">Reportes</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if ReporteEstadoVentas or ReporteVentasFormaPago or Descuentos or ReportePeluqueros or ReporteComoConocieron %}show{% endif %}" id="ui-reportes">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if ReporteEstadoVentas %}active{% endif %}" href="{% url 'reporte_estado_ventas_realizadas' %}?rango_fechas=month">Estado de ventas realizadas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if ReporteVentasFormaPago %}active{% endif %}" href="{% url 'reporte_ventas_forma_pago' %}?rango_fechas=month"">Ventas por forma de pago</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if ReportePeluqueros %}active{% endif %}" href="{% url 'reporte_peluqueros' %}">Desempeño de peluqueros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if ReporteComoConocieron %}active{% endif %}" href="{% url 'reporte_como_conocieron' %}">¿Cómo conocieron a Lokis?</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- partial -->