{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Cambiar contraseña</h1>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Guardar</button>
    </form>
{% endblock %}