{% extends 'base/base.html' %}
{% load staticfiles %}

{% block body_sistema %}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">

                    <div class="auto-form-wrapper">
                        <div class="row imagen-lokis justify-content-center mb-3">
                            <img src="{% static 'images/logopng.png' %}" alt=""  >
                        </div>
                        <form method="post" action="#">
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="row">
                                    <label class="text-danger">{{ form.non_field_errors }}</label>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="label">Usuario</label>
                                <div class="input-group">
                                    {{form.username}}
                                    <div class="input-group-append">
                                      <span class="input-group-text">
                                        <i class="mdi mdi-check-circle-outline"></i>
                                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Contraseña</label>
                                <div class="input-group">
                                    {{form.password}}
                                    <div class="input-group-append">
                                      <span class="input-group-text">
                                        <i class="mdi mdi-check-circle-outline"></i>
                                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary submit-btn btn-block">Ingresar</button>
                            </div>
                            <!--<div class="form-group d-flex justify-content-between">-->
                                <!--<div class="form-check form-check-flat mt-0">-->
                                    <!--<label class="form-check-label">-->
                                        <!--<input type="checkbox" class="form-check-input" checked> Mantener cuenta activa-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="text-block text-center my-3">
                                <span class="text-small font-weight-semibold">Peluquería LOKIS - 2018</span>
                                <p class=" text-center">copyright © 2018 LOKIS. All rights reserved.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
{% endblock %}