{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeInLeft">

            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2 class="h2">{% if UsuarioCreate %}Nueva cuenta de usuario{% else %}Modificar cuenta de usuario{% endif %}</h2>
                        <form method="post" class="form-sample">
                            {% csrf_token %}
                            <p class="card-description">
                                {% if UsuarioCreate %}A continuación ingrese los datos del nuevo usuario. {% endif %}Considere que los campos marcados con (*) son
                                de caracter obligatorio para el sistema.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Usuario*</label>
                                        <div class="col-sm-9">
                                            {{ form.usuario }}
                                        </div>
                                    </div>
                                </div>
                                {% if UsuarioUpdate %}
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Contraseña anterior</label>
                                        <div class="col-sm-9">
                                            {{contrasenia}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% if form.usuario.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.usuario.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Contraseña*</label>
                                        <div class="col-sm-9">
                                            {{ form.contrasenia1 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Repetir Contraseña*</label>
                                        <div class="col-sm-9">
                                            {{ form.contrasenia2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.contrasenia1.errors or form.contrasenia2.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.contrasenia1.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.contrasenia2.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">

                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                  <div class="form-check form-check-flat">
                                                    <label class="form-check-label">
                                                      {{ form.admin }} {% if UsuarioCreate %}Asignar como {% endif %}Administrador
                                                    </label>
                                                  </div>
                                              </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                {% if UsuarioUpdate %}
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-fw">
                                    <i class="mdi mdi-reply"></i> Volver</a>
                                <div class="col-md-2">
                                    {% endif %}
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-check"></i> Guardar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>
{% endblock %}