{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 grid-margin stretch-card animated fadeIn ">
                <div class="card card-statistics">
                    <div class="card-body">
                        <h4 class="card-title">Buscar usuario...</h4>
                        <p class="card-description">Ingrese un parámetro de búsqueda o palabra clave.</p>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend bg-info">
                        <span class="input-group-text bg-transparent">
                          <i class="mdi mdi-star text-white"></i>
                        </span>
                                </div>
                                <input type="text" id="input_search" class="form-control" placeholder="Palabra clave" aria-label="Username" aria-describedby="colored-addon1">
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Ejemplo: "Juan", "Perez", etc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 grid-margin animated fadeInDown">
                <div class="card">
                    <div class="card-body">
                        <h4 class="">Listado de cuentas de usuario</h4>
                        <div class="table-responsive">
                            <table id="listTable" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        Tipo de Usuario
                                    </th>
                                    <th>
                                        Fecha de alta
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for usuario in listado_usuarios%}
                                <tr>
                                    <td class="font-weight-medium">
                                        {{ usuario.usuario }}
                                    </td>
                                    <td>
                                        {% if usuario.is_admin %}
                                        Administrador
                                        {% else %}
                                        Usuario común
                                        {% endif %}
                                    </td>
                                    <td class="text-primary">
                                        {{ usuario.fecha_creacion.date }}
                                    </td>
                                    <td>
                                        <a href="{% url 'modificar_usuario' usuario.pk %}" class="btn btn-icons btn-rounded btn-inverse-primary" title="Editar información.">
                                            <i class="mdi mdi-update"></i>
                                        </a>
                                        <a href="{% url 'eliminar_usuario' usuario.pk %}" class="btn btn-icons btn-rounded btn-inverse-danger" title="Eliminar servicio." onclick="eliminarItem()">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
{% endblock %}
