{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">


        <div class="row">
            <div class="col-lg-12 grid-margin">
                <div class="card">


                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h3>Desempeño de Peluqueros</h3>
                        </div>
                        <div class="col-md-12 card mb-2">
                            <div class="row justify-content-center">
                                <div class="col-lg-9 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">{% if fechas %}
                                                Desde el <b>{{fechas.desde|date:"d/m/Y"}}</b> al <b>{{fechas.hasta|date:"d/m/Y"}}</b>
                                                {% endif %}</h4>
                                            <canvas id="chart" style="height:200px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Fecha desde</label>
                                        <div class="col-sm-9">
                                            {{ form.fecha_desde }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Fecha hasta</label>
                                        <div class="col-sm-9">
                                            {{ form.fecha_hasta }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-file-document"></i> Consultar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>

        <!-- content-wrapper ends -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
{% endblock %}
{% block staticfiles_javascript %}

<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
<script type="text/javascript">
        var data = {
    labels: [{% for profesional in listado %}'{{ profesional.label }}',{% endfor %}],
    datasets: [{
      label: 'Atenciones',
      data: [{% for profesional in listado %}{{ profesional.cantidad }},{% endfor %}],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
  };

        var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }

  };
      var barChartCanvas = $("#chart").get(0).getContext("2d");
    // This will get the first returned node in the jQuery collection.
    var barChart = new Chart(barChartCanvas, {
      type: 'bar',
      data: data,
      options: options
    });


</script>
{% endblock %}
