{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin">
                <div class="card">


                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h3>Estado de ventas realizadas</h3>
                        </div>
                        <form method="get" action="">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Filtro por periodo</label>
                                        <div class="col-sm-6">
                                            {{ filter.form.rango_fechas }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Fecha desde</label>
                                        <div class="col-sm-9">
                                            {{ filter.form.fecha_desde }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Fecha hasta</label>
                                        <div class="col-sm-9">
                                            {{filter.form.fecha_hasta}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Tipos de Ventas</label>
                                        <div class="col-sm-8">
                                            {{filter.form.ventas_impresas}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-file-document"></i> Consultar
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'exportar_excel' %}?key=">
                                        <button type="button" class="btn btn-outline-success btn-fw">
                                            <i class="mdi mdi-file-excel"></i> Exportar a Excel
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin">

                        <div class="card">
                            <div class="card-body">
                                <h5>Total de resultados: {{filter.qs.count}}</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Servicios <br> Productos
                                            </th>

                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                            <th>
                                                Hora
                                            </th>
                                            <th>
                                                Impresa
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for venta in filter.qs%}
                                        <tr>
                                            <td class="font-weight-medium">
                                                {{venta.cliente}}
                                            </td>
                                            <td>
                                                {{venta.cantidad_servicios}} Servicio/s <br>
                                                {{venta.cantidad_productos}} Producto/s
                                            </td>

                                            <td>
                                                {{venta.monto}}
                                            </td>
                                            <td>
                                                {{venta.fecha}}
                                            </td>
                                            <td>
                                                {{venta.hora}}
                                            </td>
                                            <td class="font-weight-medium">
                                                {% if venta.impreso %}Si{% else %}No{% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'modificar_venta' venta.pk %}"
                                                   class="btn btn-icons btn-rounded btn-inverse-primary"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Ver o editar datos ingresados de la venta.">
                                                    <i class="mdi mdi-update"></i>
                                                </a>
                                                {% if not venta.impreso %}
                                                <a href="{% url 'eliminar_venta' venta.pk %}"
                                                   class="btn btn-icons btn-rounded btn-inverse-danger"
                                                   data-toggle="tooltip" data-placement="top" title="Eliminar venta"
                                                   onclick="eliminarItem()">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- content-wrapper ends -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
{% endblock %}

