{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin">
                <div class="card">


                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h3>¿Cómo conocieron los clientes a peluquería LOKIS?</h3>
                        </div>
                        <div class="row">
                            <canvas id="chart" style="height:250px"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- content-wrapper ends -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
{% endblock %}
{% block staticfiles_javascript %}

    <script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
    <script type="text/javascript">
        var data = {
        datasets: [{
          data: [{% for opcion in listado %}{{ opcion.cantidad }},{% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(153, 102, 255, 0.5)',
            'rgba(255, 159, 64, 0.5)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [{% for opcion in listado %}'{{ opcion.label }}',{% endfor %}]
      };

        var options = {
            responsive: true,
            animation: {
              animateScale: true,
              animateRotate: true
            }
          };
      var doughnutChartCanvas = $("#chart").get(0).getContext("2d");
        var doughnutChart = new Chart(doughnutChartCanvas, {
          type: 'doughnut',
          data: data,
          options: options
        });
    </script>
{% endblock %}

