{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeIn fast">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                  <!-- <div class="card card-statistics">
                    <div class="card-body">
                      <div class="clearfix">
                        <div class="float-left">
                          <i class="mdi mdi-cube text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                          <p class="mb-0 text-right">Total Recaudado</p>
                          <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">$5,650</h3>
                          </div>
                        </div>
                      </div>
                      <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Actividad del día
                      </p>
                    </div>
                  </div> -->
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="clearfix">
                        <div class="float-left">
                          <i class="mdi mdi-cash-multiple text-warning icon-lg"></i>
                        </div>
                        <div class="float-right">
                          <p class="mb-0 text-right">Pagos de contado</p>
                          <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{cant_efectivo}}</h3>
                          </div>
                        </div>
                      </div>
                      <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-check mr-1" aria-hidden="true"></i> Total pagos en efectivo
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="clearfix">
                        <div class="float-left">
                          <i class="mdi mdi-credit-card text-success icon-lg"></i>
                        </div>
                        <div class="float-right">
                          <p class="mb-0 text-right">Pagos por débito</p>
                          <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{cant_debito}}</h3>
                          </div>
                        </div>
                      </div>
                      <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-check mr-1" aria-hidden="true"></i> Total pagos con tarjeta de débito
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="clearfix">
                        <div class="float-left">
                          <i class="mdi mdi-credit-card-plus text-info icon-lg"></i>
                        </div>
                        <div class="float-right">
                          <p class="mb-0 text-right">Pagos por crédito</p>
                          <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{cant_credito}}</h3>
                          </div>
                        </div>
                      </div>
                      <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-check mr-1" aria-hidden="true"></i> Total pagos con tarjeta de crédito
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12 grid-margin">
                <div class="card">


                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h3>Estado de ventas realizadas</h3>
                        </div>
                        <form method="get" action="">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Filtro por periodo</label>
                                        <div class="col-sm-6">
                                            {{ filter.form.rango_fechas }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Fecha desde</label>
                                        <div class="col-sm-9">
                                            {{ filter.form.fecha_desde }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Fecha hasta</label>
                                        <div class="col-sm-9">
                                            {{filter.form.fecha_hasta}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Formas de Pago</label>
                                        <div class="col-sm-8">
                                            {{filter.form.formas_pago}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-file-document"></i> Consultar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin">

                        <div class="card">
                            <div class="card-body">
                                <h5>Total de resultados: {{filter.qs.count}}</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Servicios <br> Productos
                                            </th>

                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                            <th>
                                                Hora
                                            </th>
                                            <th>
                                                Forma de Pago
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for venta in filter.qs%}
                                        <tr>
                                            <td class="font-weight-medium">
                                                {{venta.cliente}}
                                            </td>
                                            <td>
                                                {{venta.cantidad_servicios}}  Servicio/s <br>
                                                {{venta.cantidad_productos}}  Producto/s
                                            </td>

                                            <td>
                                                {{venta.monto}}
                                            </td>
                                            <td>
                                                {{venta.fecha}}
                                            </td>
                                            <td>
                                                {{venta.hora}}
                                            </td>
                                            <td class="font-weight-medium">
                                                {{venta.metodo_pago}}
                                            </td>
                                            <td>
                                                <a href="{% url 'modificar_venta' venta.pk %}" class="btn btn-icons btn-rounded btn-inverse-primary" data-toggle="tooltip" data-placement="top" title="Ver o editar datos ingresados de la venta.">
                                                    <i class="mdi mdi-update"></i>
                                                </a>
                                                {% if not venta.impreso %}
                                                <a href="{% url 'eliminar_venta' venta.pk %}" class="btn btn-icons btn-rounded btn-inverse-danger" data-toggle="tooltip" data-placement="top" title="Eliminar venta" onclick="eliminarItem()">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- content-wrapper ends -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
{% endblock %}

