{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card animated fadeIn fast">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-account-location text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Total clientes</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">{{ cantidad_clientes }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Clientes registrados
                  </p>
                </div>
              </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-6 grid-margin stretch-card animated fadeIn">
            <div class="card card-statistics">
              <div class="card-body">
                <h4 class="card-title">Buscar cliente...</h4>
                <p class="card-description">Ingrese un parámetro de búsqueda o palabra clave.</p>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend bg-warning">
                      <span class="input-group-text bg-transparent">
                        <i class="mdi mdi-account-star text-white"></i>
                      </span>
                    </div>
                    <input type="text" id="input_search" class="form-control" placeholder="Palabra clave" aria-label="Username" aria-describedby="colored-addon1">
                  </div>
                </div>

                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Ejemplo: "Juan Perez", "Maria Paz", etc.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 grid-margin animated fadeInDown">
            <div class="card">
              <div class="card-body">
                <h4 class="">Listado de clientes</h4>
                <div class="table-responsive">
                  <table id="listTable" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          Apellido
                        </th>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Edad
                        </th>
                        <th style="max-width: 20px">
                          Es hijo/a de
                        </th>
                        <th>
                          Teléfono
                        </th>
                        <!-- <th>
                          Detalle extra
                        </th> -->
                        <th>
                          Acciones
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for cliente in listado_clientes %}
                      <tr>
                        <td class="font-weight-medium">
                          {{ cliente.apellido }}
                        </td>
                        <td>
                          {{ cliente.nombre }}
                        </td>

                        <td>
                          {{ cliente.edad }}
                        </td>
                        <td class="text-success"> {{ cliente.hijo_de }}
                        </td>
                        <td>
                          {{ cliente.telefono }}
                        </td>
                        <!-- <td>
                          {{ cliente.detalles }}
                        </td> -->
                        <td>
                          <a href="{% url 'modificar_cliente' cliente.pk %}" class="btn btn-icons btn-rounded btn-inverse-primary" title="Editar información.">
                            <i class="mdi mdi-update"></i>
                          </a>
                          <a href="{% url 'eliminar_cliente' cliente.pk %}" class="btn btn-icons btn-rounded btn-inverse-danger" title="Eliminar cliente.">
                            <i class="mdi mdi-delete"></i>
                          </a>
                        </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
</div>
{% endblock %}




<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
	<!--<title>Sistema Peluqueria</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>Listado Clientes</h1>-->
    <!--{% for cliente in listado_clientes %}-->
        <!--<p><a href="{% url 'detalle_cliente' cliente.pk %}">{{ cliente.apellido }}, {{ cliente.nombre }}</a></p>-->
    <!--{% endfor %}-->
    <!--<br><br>-->
    <!--<a href="{% url 'crear_cliente' %}">Nuevo Cliente</a>-->
<!--</body>-->
<!--</html>-->