{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeInLeft">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2 class="h2">{% if ClienteCreate %}Datos del nuevo cliente{% else %}Modificar datos del cliente{% endif %}</h2>
                        <form method="post" class="form-sample">
                            {% csrf_token %}
                            <p class="card-description">
                                {% if ClienteCreate %}A continuación ingrese los datos del nuevo cliente. {% endif %}Considere que los campos marcados con (*) son
                                de caracter obligatorio para el sistema.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Nombre*</label>
                                        <div class="col-sm-9">
                                            {{form.nombre}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Apellido*</label>
                                        <div class="col-sm-9">
                                            {{form.apellido}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.nombre.errors or form.apellido.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.nombre.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.apellido.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Teléfono*</label>
                                        <div class="col-sm-9">
                                            {{form.telefono}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Sexo</label>
                                        <div class="col-sm-9">
                                            {{form.sexo}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.telefono.errors or form.sexo.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.telefono.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.sexo.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            {{form.email}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Número de documento</label>
                                        <div class="col-sm-9">
                                            {{form.dni}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.email.errors or form.dni.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.email.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.dni.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Fecha de nacimiento*</label>
                                        <div class="col-sm-9">
                                            {{form.fecha_nacimiento}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Detalles extras del cliente</label>
                                        <div class="col-sm-9">
                                            {{form.detalles}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.fecha_nacimiento.errors or form.detalles.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.fecha_nacimiento.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.detalles.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Dirección</label>
                                        <div class="col-sm-9">
                                            {{form.direccion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Provincia</label>
                                        <div class="col-sm-9">
                                            {{form.provincia}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.direccion.errors or form.provincia.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.direccion.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.provincia.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">¿Cómo descubrió la peluquería?</label>
                                        <div class="col-sm-9">
                                            {{form.como_descubrio}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Es hija/o de</label>
                                        <div class="col-sm-9">
                                            {{form.hijo_de}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.como_descubrio.errors or form.hijo_de.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.como_descubrio.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.hijo_de.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row justify-content-end">
                                {% if ClienteUpdate %}
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-fw">
                                        <i class="mdi mdi-reply"></i> Volver</a>
                                <div class="col-md-2">
                                {% endif %}
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-check"></i> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>
{% endblock %}



