{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeInLeft">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2 class="h2">{% if ProfesionalCreate %}Datos del nuevo peluquero{% else %}Modificar datos del peluquero{% endif %}</h2>
                        <form method="post" class="form-sample">
                            {% csrf_token %}
                            <p class="card-description">
                                {% if ProfesionalCreate %}A continuación ingrese los datos del nuevo peluquero. {% endif %}Considere que los campos marcados con (*) son
                                de caracter obligatorio para el sistema.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Nombre*</label>
                                        <div class="col-sm-9">
                                            {{form.nombre}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Apellido*</label>
                                        <div class="col-sm-9">
                                            {{form.apellido}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.nombre.errors or form.apellido.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.nombre.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.apellido.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">DNI*</label>
                                        <div class="col-sm-9">
                                            {{form.dni}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Fecha de nacimiento*</label>
                                        <div class="col-sm-9">
                                            {{form.fecha_nacimiento}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.dni.errors or form.fecha_nacimiento.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.dni.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.fecha_nacimiento.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Dirección</label>
                                        <div class="col-sm-9">
                                            {{form.direccion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Teléfono*</label>
                                        <div class="col-sm-9">
                                            {{form.telefono}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.direccion.errors or form.telefono.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.direccion.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.telefono.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row justify-content-end">
                                {% if ProfesionalUpdate %}
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-fw">
                                        <i class="mdi mdi-reply"></i> Volver</a>
                                <div class="col-md-2">
                                {% endif %}
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-check"></i> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>
{% endblock %}



