{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card animated fadeIn fast">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-human-greeting text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Total peluqueros</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">{{ cantidad_profesionales }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Peluqueros registrados
                  </p>
                </div>
              </div>
          </div>

          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-6 grid-margin stretch-card animated fadeIn">
            <div class="card card-statistics">
              <div class="card-body">
                <h4 class="card-title">Buscar peluquero...</h4>
                <p class="card-description">Ingrese un parámetro de búsqueda o palabra clave.</p>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend bg-primary">
                      <span class="input-group-text bg-transparent">
                        <i class="mdi mdi-human-greeting text-white"></i>
                      </span>
                    </div>
                    <input type="text" id="input_search" class="form-control" placeholder="Palabra clave" aria-label="Username" aria-describedby="colored-addon1">
                  </div>
                </div>

                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Ejemplo: "Juan Perez", "Maria Paz", etc.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 grid-margin animated fadeInDown">
            <div class="card">
              <div class="card-body">
                <h4 class="">Listado de Peluqueros</h4>
                <div class="table-responsive">
                  <table id="listTable" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Apellido
                        </th>
                        <th>
                          Dirección
                        </th>
                        <th>
                          Teléfono
                        </th>
                        <th>
                          Acciones
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for profesional in listado_profesionales %}
                      <tr>
                        <td class="font-weight-medium">
                          {{ profesional.nombre }}
                        </td>
                        <td class="font-weight-medium">
                          {{ profesional.apellido }}
                        </td>

                        <td>
                          {{ profesional.direccion }}
                        </td>
                        <td>
                          {{ profesional.telefono }}
                        </td>
                        <td>
                          <a href="{% url 'modificar_profesional' profesional.pk %}" class="btn btn-icons btn-rounded btn-inverse-primary" title="Editar información.">
                            <i class="mdi mdi-update"></i>
                          </a>
                          <a href="{% url 'eliminar_profesional' profesional.pk %}" class="btn btn-icons btn-rounded btn-inverse-danger" title="Eliminar peluquero.">
                            <i class="mdi mdi-delete"></i>
                          </a>
                        </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
</div>
{% endblock %}
