{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-cube text-danger icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Total Recaudado</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">${{total_recaudado}}</h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Actividad del día
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-receipt text-warning icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Ventas realizadas</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">{{cantidad_ventas_hoy}}</h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Total ventas del día
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="">Ventas del día ({{fecha_hoy}})</h4>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>
                    Cliente
                  </th>
                  <th>
                    Servicios
                  </th>
                  <th>
                    Productos
                  </th>
                  <th>
                    Total
                  </th>
                  <th>
                    Hora
                  </th>
                  <th>
                    Acciones
                  </th>
                </tr>
                </thead>
                <tbody>
                {% for venta in listado_ventas%}
                <tr>
                  <td class="font-weight-medium">
                    {{venta.cliente}}
                  </td>
                  <td class="font-weight-medium">
                    {{venta.cantidad_servicios}}  Servicio/s
                  </td>
                  <td>
                    {{venta.cantidad_productos}}  Producto/s
                  </td>
                  <td>
                    {{venta.monto}}
                  </td>
                  <td class="text-success">
                    {{venta.hora}}
                  </td>
                  <td>
                    <a href="{% url 'modificar_venta' venta.pk %}" class="btn btn-icons btn-rounded btn-inverse-primary" data-toggle="tooltip" data-placement="top" title="Ver o editar datos ingresados de la venta.">
                      <i class="mdi mdi-update"></i>
                    </a>
                    {% if not venta.impreso %}
                    <a href="{% url 'eliminar_venta' venta.pk %}" class="btn btn-icons btn-rounded btn-inverse-danger" data-toggle="tooltip" data-placement="top" title="Eliminar venta" onclick="eliminarItem()">
                      <i class="mdi mdi-delete"></i>
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->

  </div>
  <!-- main-panel ends -->
</div>
{% endblock %}