{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <form method="post">
            {% csrf_token %}
            <div class="row animated fadeIn fast">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="">1. Datos del cliente</h4>
                            <p class="card-description">
                                Ingrese los datos del cliente, los mismos son necesesarios para concretar al pago.
                            </p>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Fecha</label>
                                        <div class="col-sm-9">
                                            {{ form.fecha }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Hora</label>
                                        <div class="col-sm-9">
                                            {{ form.hora }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.fecha.errors or form.hora.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.fecha.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.hora.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Cliente</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                {{ form.cliente }}
                                                <div class="input-group-prepend bg-primary border-primary">
                                        <span class="input-group-text bg-transparent">
                                          <i class="mdi mdi mdi-menu text-white"></i>
                                        </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Atendido por</label>
                                        <div class="col-sm-9">
                                            {{ form.profesional }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.cliente.errors or form.profesional.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.cliente.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.profesional.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row animated fadeIn delay-1s fast">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="">2. Datos del servicio</h4>
                            <!-- <form class="form-sample"> -->
                            <p class="card-description">
                                Introduzca el Nombre del <span class="font-weight-bold">servicio</span>
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-primary border-primary">
                                  <span class="input-group-text bg-transparent">
                                    <i class="mdi mdi mdi-star text-white"></i>
                                  </span>
                                        </div>
                                        {{form.servicios}}
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                Código
                                            </th>
                                            <th>
                                                Nombre servicio
                                            </th>

                                            <th>
                                                Precio
                                            </th>
                                            <th>
                                                Descripción
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="cuerpo_tabla_servicios">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row animated fadeIn delay-2s fast ">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="">3. Datos de productos</h4>
                            <!-- <form class="form-sample"> -->
                            <p class="card-description">
                                Introduzca el Nombre del <span class="font-weight-bold">producto</span>
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-primary border-primary">
                                <span class="input-group-text bg-transparent">
                                  <i class="mdi mdi mdi-cube text-white"></i>
                                </span>
                                        </div>
                                        {{form.productos}}
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                Código
                                            </th>
                                            <th>
                                                Nombre producto
                                            </th>

                                            <th>
                                                Precio
                                            </th>
                                            <th>
                                                Descripción
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="cuerpo_tabla_productos">


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row animated fadeIn delay-3s">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="">4. Datos del pago</h4>
                            <p class="card-description">
                                Verifique los datos del pago para finalizar la actividad.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Forma de pago</label>
                                        <div class="col-sm-9">
                                            {{form.metodo_pago}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Descuentos</label>
                                        <div class="col-sm-9">
                                            {{form.descuento}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.metodo_pago.errors or form.descuento.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.metodo_pago.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.descuento.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Total a pagar</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend bg-primary border-primary">
                                                    <span class="input-group-text bg-transparent text-white">$</span>
                                                </div>
                                                {{form.monto}}
                                                <div class="input-group-append bg-primary border-primary">
                                                    <span class="input-group-text bg-transparent text-white">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">¿Imprimir factura?</label>
                                        <div class="col-sm-8">
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    {{form.para_imprimir}} Si, deseo imprimir la factura.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.monto.errors or form.para_imprimir.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.monto.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.para_imprimir.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            {% if messages %}
                            <blockquote class="blockquote blockquote-danger">
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li class="text-danger">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </blockquote>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% if not venta.impreso %}
                                    <button type="submit" class="btn btn-info btn-block">
                                        {% if VentaCreate %}Finalizar{% else %}Guardar{% endif %} venta
                                    </button>
                                    {% else %}
                                    <blockquote class="blockquote blockquote-danger">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-fw">
                                                    <i class="mdi mdi-reply"></i> Volver</a>
                                            </div>
                                            <div class="col-md-9">
                                                <span class="text-danger">Las ventas impresas no se pueden modificar ni eliminar</span>
                                            </div>
                                        </div>

                                    </blockquote>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- content-wrapper ends -->
    </div>
    <!-- partial -->
</div>
<!-- main-panel ends -->
{% endblock %}
{% block staticfiles_javascript %}
{{ form.media }}
<script src="{% static 'js/custom_autocomplete.js' %}"></script>

{% endblock %}
