{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">

            </div>
            <div class="col-lg-6">
                <div class="row animated fadeInLeft">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
                        <div class="card card-statistics">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="mdi mdi-poll-box text-success icon-lg"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="mb-0 text-right">Total turnos</p>
                                        <div class="fluid-container">
                                            <h3 class="font-weight-medium text-right mb-0">{{total_turnos}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-muted mt-3 mb-0">
                                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Actividad del día
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
                        <div class="card card-statistics">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="mdi mdi-receipt text-warning icon-lg"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="mb-0 text-right">Turnos pendientes</p>
                                        <div class="fluid-container">
                                            <h3 class="font-weight-medium text-right mb-0">{{turnos_pendientes}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-muted mt-3 mb-0">
                                    <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Total turnos sin atención
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row animated fadeInDown">
                <div class="col-lg-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="">Lista de espera de hoy ({{ fecha_hoy }})</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>
                                            Orden
                                        </th>
                                        <th>
                                            Cliente
                                        </th>
                                        <th>
                                            Profesional asignado
                                        </th>
                                        <th>
                                            Propósito de la visita
                                        </th>
                                        <th>
                                            Hora
                                        </th>
                                        <th>
                                            Acción
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for turno in turnos_hoy %}
                                    <tr>
                                        <td class="font-weight-medium">
                                            {{ turno.orden }}
                                        </td>
                                        <td class="font-weight-medium">
                                            {{ turno.turno.cliente }}
                                        </td>
                                        <td>
                                            {% if turno.turno.profesional %}
                                                {{ turno.turno.profesional }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if turno.turno.proposito %}
                                                {{ turno.turno.proposito.get_name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="font-weight-medium text-success">
                                            {{ turno.turno.hora }}
                                        </td>
                                        <td>
                                            <a href="{% url 'modificar_turno' turno.turno.pk %}" class="btn btn-icons btn-rounded btn-inverse-primary" title="Editar información.">
                                                <i class="mdi mdi-update"></i>
                                            </a>
                                            <a href="{% url 'eliminar_turno' turno.turno.pk %}" class="btn btn-icons btn-rounded btn-inverse-danger" title="Eliminar turno.">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animated fadeInDown">
                <div class="col-lg-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="">Turnos ya atendidos del día ({{ fecha_hoy }})</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>
                                            Orden
                                        </th>
                                        <th>
                                            Cliente
                                        </th>
                                        <th>
                                            Profesional asignado
                                        </th>
                                        <th>
                                            Propósito de la visita
                                        </th>
                                        <th>
                                            Hora
                                        </th>
                                        <th>
                                            Acción
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for turno in turnos_hoy_atendidos %}
                                    <tr>
                                        <td class="font-weight-medium">
                                            {{ turno.orden }}
                                        </td>
                                        <td class="font-weight-medium">
                                            {{ turno.turno.cliente }}
                                        </td>
                                        <td>
                                            {% if turno.turno.profesional %}
                                                {{ turno.turno.profesional }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if turno.turno.proposito %}
                                                {{ turno.turno.proposito.get_name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="font-weight-medium text-danger">
                                            {{ turno.turno.hora }}
                                        </td>
                                        <td>
                                            <a href="{% url 'modificar_turno' turno.turno.pk %}" class="btn btn-icons btn-rounded btn-inverse-primary" title="Editar información.">
                                                <i class="mdi mdi-update"></i>
                                            </a>
                                            <a href="{% url 'eliminar_turno' turno.turno.pk %}" class="btn btn-icons btn-rounded btn-inverse-danger" title="Eliminar turno.">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
{% endblock %}
