{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeInLeft">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2 class="h2">{% if TurnoCreate %}Datos del nuevo turno{% else %}Modificar datos del turno{% endif %}</h2>
                        <form method="post" class="form-sample">
                            {% csrf_token %}
                            <p class="card-description">
                                {% if TurnoCreate %}A continuación ingrese los datos del nuevo turno. {% endif %}Considere que los campos marcados con (*) son
                                de caracter obligatorio para el sistema.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Profesional</label>
                                        <div class="col-sm-9">
                                            {{form.profesional}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Cliente*</label>
                                        <div class="col-sm-9">
                                            {{form.cliente}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.profesional.errors or form.cliente.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.profesional.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.cliente.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Descripción</label>
                                        <div class="col-sm-9">
                                            {{form.descripcion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Proposito</label>
                                        <div class="col-sm-9">
                                            {{form.proposito}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.descripcion.errors or form.proposito.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.descripcion.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.proposito.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Fecha*</label>
                                        <div class="col-sm-9">
                                            {{form.fecha}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bold">Hora*</label>
                                        <div class="col-sm-9">
                                            {{form.hora}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if form.fecha.errors or form.hora.errors %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.fecha.errors }}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="text-danger">{{ form.hora.errors }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row justify-content-end">
                                {% if TurnoUpdate %}
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-fw">
                                    <i class="mdi mdi-reply"></i> Volver</a>
                                <div class="col-md-2">
                                    {% endif %}
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-success btn-fw">
                                            <i class="mdi mdi-check"></i> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>
<!-- main-panel ends -->
{{form.media}}
{% endblock %}
