.dataTables_filter {
   display: none;
}

.form-control {
    border: 1.5px solid #3498db !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 0.75rem !important;
    padding: 0.56rem 0.75rem !important;
    line-height: 14px !important;
    font-weight: 600 !important;
}

.select2-container {
    min-width: 1em !important;
}

.select2-container--default .select2-selection--single {
    height: 38px !important;
}

.select2-selection__choice{
  display: none;
  background-color: #04b1c77a;
  visibility: hidden;
}

#cumple{
      width: 100wh;
      height: 20vh;
      color: #fff;
      background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
      background-size: 400% 400%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }

    @-moz-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }

    @keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }

    h1,
    h6 {
      position: absolute;
      top: 35%;

    }