{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}




<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeInLeft">
            <div class="col-lg-12" id="cumple">
                <div class="row justify-content-center">
                    <h1><i class="mdi mdi-gift icon-md"></i> ¡Feliz cumple!</h1>
                </div>
            </div>
        </div>

        <div class="row animated fadeInDown ">
            <div class="col-lg-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class=""><i class="mdi mdi-gift text-danger icon-md"></i> Listado de cumpleaños restantes </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Apellido
                                    </th>
                                    <th>
                                        Fecha Nacimiento
                                    </th>
                                    <th>
                                        Edad
                                    </th>
                                    <th>
                                        Atenciones
                                    </th>
                                    <th>
                                        Última visita
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for cliente in cumpleanios_list %}
                                <tr>
                                    <td class="font-weight-medium">
                                        {{ cliente.nombre }}
                                    </td>
                                    <td class="font-weight-medium">
                                        {{ cliente.apellido }}
                                    </td>
                                    <td>
                                        {{ cliente.fecha_nacimiento}}
                                    </td>
                                    <td>
                                        {{ cliente.edad }}
                                    </td>
                                    <td>
                                        {{ cliente.atenciones }}
                                    </td>
                                    <td class="text-success">
                                        {{ cliente.ultima_visita }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>
<!-- main-panel ends -->

{% endblock %}