{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}




<div class="main-panel">
    <div class="content-wrapper">
        <div class="row animated fadeIn fast">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-cube text-danger icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Total Recaudado</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">${{total_recaudado}}</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Actividad del día
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-receipt text-warning icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Turnos otorgados</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">{{total_turnos}}</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Total turnos del día
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-poll-box text-success icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Ventas realizadas</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">{{cantidad_ventas_hoy}}</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Ventas del día
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-account-location text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Empleados</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">{{cantidad_profesionales}}</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Staff de peluqueros
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animated fadeInDown">
            <div class="col-lg-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class=""><i class="mdi mdi-av-timer text-danger icon-md"></i> Lista de espera del día ({{ fecha_hoy }})</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        Orden
                                    </th>
                                    <th>
                                        Cliente
                                    </th>
                                    <th>
                                        Profesional asignado
                                    </th>
                                    <th>
                                        Propósito de la visita
                                    </th>
                                    <th>
                                      Hora
                                    </th>
                                    <th>
                                        Acción
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for turno in turnos_hoy %}
                                <tr>
                                    <td class="font-weight-medium">
                                        {{ turno.orden }}
                                    </td>
                                    <td class="font-weight-medium">
                                        {{ turno.turno.cliente }}
                                    </td>
                                    <td>
                                        {% if turno.turno.profesional %}
                                        {{ turno.turno.profesional }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if turno.turno.proposito %}
                                        {{ turno.turno.proposito.get_name }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>
                                    <td class="font-weight-medium">
                                        {{ turno.turno.hora }}
                                    </td>
                                    <td>
                                        <a href="{% url 'modificar_turno' turno.turno.pk %}" class="btn btn-icons btn-rounded btn-inverse-primary" title="Editar información.">
                                            <i class="mdi mdi-update"></i>
                                        </a>
                                        <a class="btn btn-icons btn-rounded btn-inverse-danger" title="Eliminar turno.">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animated fadeInDown ">
            <div class="col-lg-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class=""><i class="mdi mdi-gift text-danger icon-md"></i> ¡Cumpleaños del día! </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Apellido
                                    </th>
                                    <th>
                                        Edad
                                    </th>
                                    <th>
                                        Atenciones
                                    </th>
                                    <th>
                                        Última visita
                                    </th>
                                    <th>
                                        Teléfono
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cliente in cumpleanios_list %}
                                <tr>
                                    <td class="font-weight-medium">
                                        {{ cliente.nombre }}
                                    </td>
                                    <td class="font-weight-medium">
                                        {{ cliente.apellido }}
                                    </td>
                                    <td>
                                        {{ cliente.edad }}
                                    </td>
                                    <td>
                                        {{ cliente.atenciones }}
                                    </td>
                                    <td class="text-success">
                                        {{ cliente.ultima_visita }}
                                    </td>
                                    <td class="text-success">
                                        {{ cliente.telefono}}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- <footer class="footer">
      <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
          <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
          <i class="mdi mdi-heart text-danger"></i>
        </span>
      </div>
    </footer> -->
    <!-- partial -->
</div>
<!-- main-panel ends -->

{% endblock %}